.column
{
	background:orange;
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	transition: background 0.5s;
	border-radius: 20%;
}

#contain{
	max-width: 700px;
	margin: 20px auto;
}

body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
   
}

h1{
	color:white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 30px 0;
}

#head{
	background-color: white;
	height: 40px;
	text-align: center;
	color: black;
}

.select{
      background-color: steelblue;
      color: white;
}

#rgb{
	font-size: 200%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight:700;
	color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    outline: none;
}

#message{
	display: inline-block;
	width: 20%;
	font-weight: 600;

}

button:hover{
	color: white;
	background-color: steelblue;
}